<div class="container shadow-3">
	<div class="row dark-blue-bg">
		<div class="col-xs-12 col-sm-3 blue-bg profile-cover padding visible-xs">
			<img src="assets/img/profile-pic.jpg" class="img-responsive img-circle center-block shadow-2">
			<h3 class="text-center blue-bg">Gonzalo Díaz Ailán<br><small class="blue-bg">Co-fundador de NOTIBEACON<br>Desarrollador front-end</small></h3>
		</div>
		<div class="col-xs-12 col-sm-9 padding">
			<div>
				<h2 class="light-dash">
		  			Datos personales
				</h2>
				<p>
					<i class="fa fa-fw fa-lg fa-map-marker"></i> Ciudad: Ciudad Autónoma de Buenos Aires, Buenos Aires, Argentina
					<br>
					<i class="fa fa-fw fa-lg fa-mobile"></i> Número de teléfono: 385-580-1837
					<br>
					<i class="fa fa-fw fa-lg fa-envelope"></i> Correo electrónico: diaz.ailan.gonzalo@gmail.com<br>
					<i class="fa fa-fw fa-lg fa-linkedin-square"></i> LinkedIn: <a href="https://www.linkedin.com/in/gdiazailan" target="_blank">/gdiazailan</a>
				</p>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 blue-bg profile-cover padding hidden-xs">
			<img src="assets/img/profile-pic.jpg" class="img-responsive img-circle center-block shadow-2">
			<h3 class="text-center blue-bg">Gonzalo Díaz Ailán<br><small class="blue-bg">Co-fundador de NOTIBEACON<br>Desarrollador front-end</small></h3>
		</div>	
	</div>
	<div class="row light-bg container padding">
		<h2 class="dark-blue-dash">Extracto</h2>
		<p></p>
		<p>Soy un ex-estudiante de abogacía que dejó todo para dedicarse a su verdadera pasión: la programación; y junto a mi hermano, soy pionero en el uso de la tecnología <b>iBeacon</b> en Latinoamérica.</p>
		<p>Soy exigente, dedicado, curioso y particularmente autodidácta. Logré hacer mi carrera desde cero siempre apelando al estudio y la dedicación para mejorar mis habilidades y conocimientos.</p>
		<br>
	</div>
	<div class="row dark-blue-bg is-table">
		<div class="col-xs-12 col-sm-9 padding is-table-col">
			<div>
				<h2 class="light-dash">
		  			Experiencia profesional
				</h2>
				<br>
				<!--<div class="row">
					<div class="col-xs-2">
						<img src="assets/img/shopear-icon.jpg" class="img-circle shadow-2 full-width margin-top-20">
					</div>
					<div class="col-xs-10">
						<h3><a href="https://www.shopear.com/" target="_blank"><b>Shopear</b></a></h3>
						<h4><b>Junio de 2015 - actualidad | Buenos Aires, Argentina</b></h4>
						<p class="text-justify">Shopear fue una de las primeras empresas aceleradas por <a target="_blank" href="http://wayra.co/">"wayra"</a> del <a target="_blank" href="http://www.telefonica.com.ar/corporativo/acercadetelefonica/ar/about_telefonica/html/grupos/grupo_telefonica.shtml">"Grupo Telefónica"</a>.<br>
						Su producto principal es una plataforma que mezcla un e-comerce tradicional con una red social.<br>
						En Shopear, trabajé en la creación y desarrollo del front-end de la versión 2.0 del sitio web, versión que actualmente se puede ver en <a target="_blank" href="https://www.shopear.com/">"shopear.com"</a>.</p>
					</div>
				</div>-->
				<div class="row">
						<img src="assets/img/shopear-icon.jpg" class="img-circle shadow-2 width-100px pull-left margin">
						<h3><a href="https://www.shopear.com/" target="_blank"><b>Shopear</b></a></h3>
						<h4><b>Junio de 2015 - actualidad | Buenos Aires, Argentina</b></h4>
					<div class="col-xs-12">
						<p class="text-justify">Shopear fue una de las primeras empresas aceleradas por <a target="_blank" href="http://wayra.co/">"wayra"</a> del <a target="_blank" href="http://www.telefonica.com.ar/corporativo/acercadetelefonica/ar/about_telefonica/html/grupos/grupo_telefonica.shtml">"Grupo Telefónica"</a>.<br>
						Su producto principal es una plataforma que mezcla un e-comerce tradicional con una red social.<br>
						En Shopear, trabajé en la creación y desarrollo del front-end de la versión 2.0 del sitio web, versión que actualmente se puede ver en <a target="_blank" href="https://www.shopear.com/">"shopear.com"</a>.</p>
					</div>
				</div>
				<br>
				<!--<div class="row">
					<div class="col-xs-2">
						<img src="assets/img/notibeacon-icon.jpg" class="img-circle shadow-2 full-width margin-top-20">
					</div>
					<div class="col-xs-10">
						<h3><a href="http://notibeacon.com/" target="_blank"><b>NOTIBEACON</b></a></h3>
						<h4><b>Junio de 2015 - actualidad | Buenos Aires, Argentina</b></h4>
						<p class="text-justify">Fundé <b>NOTIBEACON</b> junto a mi hermano en Junio del 2015.<br>
						Esta empresa es la primer y única proveedora de iBeacons y Eddystone Beacons en Argentina y en Armérica latina.<br>
						Trabajamos junto a <a target="_blank" href="https://www.elpalaciodehierro.com/">"El Palacio de Hierro"</a> en México y <a target="_blank" href="http://dotbairesshopping.com/">"DOT Baires Shopping"</a> en Argentina. Así como también estamos trabajando constantemente con nuevos clientes que están interesados en la tecnología de localización en todo el mundo.<br>
						Cree el sitio oficial de la empresa por cuenta propia, el cual pueden ver en <a target="_blank" href="http://notibeacon.com/">"notibeacon.com"</a>.<br></p>
					</div>
				</div>-->
				<div class="row">
						<img src="assets/img/notibeacon-icon.jpg" class="img-circle shadow-2 width-100px pull-left margin">
						<h3><a href="http://notibeacon.com/" target="_blank"><b>NOTIBEACON</b></a></h3>
						<h4><b>Junio de 2015 - actualidad | Buenos Aires, Argentina</b></h4>
					<div class="col-xs-12">
						<p class="text-justify">Fundé <b>NOTIBEACON</b> junto a mi hermano en Junio del 2015.<br>
						Esta empresa es la primer y única proveedora de iBeacons y Eddystone Beacons en Argentina y en Armérica latina.<br>
						Trabajamos junto a <a target="_blank" href="https://www.elpalaciodehierro.com/">"El Palacio de Hierro"</a> en México y <a target="_blank" href="http://dotbairesshopping.com/">"DOT Baires Shopping"</a> en Argentina. Así como también estamos trabajando constantemente con nuevos clientes que están interesados en la tecnología de localización en todo el mundo.<br>
						Cree el sitio oficial de la empresa por cuenta propia, el cual pueden ver en <a target="_blank" href="http://notibeacon.com/">"notibeacon.com"</a>.<br></p>
					</div>
				</div>
				<div>
					<h2 class="light-dash">
			  			Educación
					</h2>
					<br>
					<!--<div class="row" *ngFor="let school of education">
						<div class="col-xs-2">
							<img src="assets/img/{{school.img}}" class="img-circle shadow-2 full-width margin-top-20">
						</div>
						<div class="col-xs-10">
							<h3><b>{{school.carreer}}</b></h3>
							<h4><a href="{{school.url}}" target="_blank"><b>{{school.name}}</b></a></h4>
							<h4><b>{{school.date}}</b></h4>
							<ul>
								<li *ngFor="let course of school.courses"><a *ngIf="course.certificate" href="{{course.certificate}}" target="_blank">{{course.name}}</a><span *ngIf="!course.certificate">{{course.name}}</span></li>
							</ul>
							<p class="text-justify">{{school.text}}</p>
						</div>
					</div>-->
					<div class="row margin-bottom-20" *ngFor="let school of education">
							<img src="assets/img/{{school.img}}" class="img-circle shadow-2 width-100px pull-left margin">
							<h3><b>{{school.carreer}}</b></h3>
							<h4><a href="{{school.url}}" target="_blank"><b>{{school.name}}</b></a></h4>
							<h4><b>{{school.date}}</b></h4>
						<div class="col-xs-12">
							<ul>
								<li class="col-xs-6" *ngFor="let course of school.courses"><a *ngIf="course.certificate" href="{{course.certificate}}" target="_blank">{{course.name}}</a><span *ngIf="!course.certificate">{{course.name}}</span></li>
							</ul>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 blue-bg is-table-col">
			<div class="row padding">
				<h2 class="light-dash">
		  			Aptitudes
				</h2>
				<div class="col-xs-12 col-md-6" *ngFor="let skill of skills">
					<h4>{{skill.name}}</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="skill.skill + '%'"></div>
					</div>
				</div>
			</div>
			<div class="row padding">
				<h2 class="light-dash">
		  			Idiomas
				</h2>
				<div class="col-xs-12">
					<h4>Inglés</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
					</div>
				</div>
				<div class="col-xs-12">
					<h4>Francés</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>