<div class="container shadow-3">
	<div class="row dark-blue-bg">
		<div class="col-xs-6 col-sm-9 padding">
			<div>
				<h2 class="light-dash">
		  			Información de Contacto
				</h2>
				<p>
					<i class="fa fa-fw fa-map-marker"></i> Ciudad: Ciudad Autónoma de Buenos Aires, Buenos Aires, Argentina
					<br>
					<i class="fa fa-fw fa-mobile"></i> Número de teléfono: 385-580-1837
					<br>
					<i class="fa fa-fw fa-envelope"></i> Correo electrónico: diaz.ailan.gonzalo@gmail.com
				</p>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 blue-bg profile-cover padding">
			<img src="assets/img/profile-pic.jpg" class="img-responsive img-circle center-block shadow-2">
			<h3 class="text-center blue-bg">Gonzalo Díaz Ailán<br><small class="blue-bg">Co-fundador de NOTIBEACON<br>Desarrollador front-end</small></h3>
			<br>
		</div>
	</div>
	<div class="row light-bg container padding">
		<h2 class="dark-dash">Extracto</h2>
		<p>Ex-estudiante de abogacía que dejó todo para dedicarse a su verdadera pasión; la programación.<br>
		Exigente, dedicado, curioso y particularmente autodidácta, logró hacer su carrera desde cero siempre apelando al estudio y la dedicación constante para mejorar sus habilidades y conocimientos.<br>
		Estudios en UI/UX, diseño web y principalmente tecnologías relacionadas al desarrollo front-end (GIMP, Photoshop, CSS, SASS, Bootstrap, AngularJS).<br>
		Pionero junto a su hermano en el uso de las tecnologías iBeacon y Eddystone Beacon en latinoamérica.</p>
		<br>
	</div>
	<div class="row dark-blue-bg">
		<div class="col-xs-6 col-sm-9 padding">
			<div>
				<h2 class="light-dash">
		  			Experiencia
				</h2>
				<div class="row">
					<div class="col-xs-2">
						<img src="assets/img/shopear-icon.jpg" class="img-circle shadow-2 full-width">
					</div>
					<div class="col-xs-10">
						<h3><u>Shopear</u></h3>
						<p>Shopear fue una de las primeras empresas aceleradas por "WAYRA" del "Grupo Telefónica".<br>
						Su producto principal es una plataforma que mezcla un e-comerce tradicional con una red social.<br>
						En Shopear, trabajé en la creación y desarrollo del front-end de la versión 2.0 del sitio web, versión que actualmente se puede ver en "Shopear.com".</p>
					</div>
				</div>
					<div class="row">
					<img src="assets/img/shopear-icon.jpg" class="pull-left img-circle shadow-2 max-width-100 margin">
					<h3><u>NOTIBEACON</u></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 blue-bg profile-cover">
			<img src="assets/img/profile-pic.jpg" class="img-responsive img-circle center-block">
			<h3 class="text-center blue-bg">Gonzalo Díaz Ailán<br><small class="blue-bg">Co-fundador de NOTIBEACON<br>Desarrollador front-end</small></h3>
			<br>
		</div>
	</div>
	
</div>