/* You can add global styles to this file, and also import other style files */

body {
	font-size: 18px;
}

.dark-font {
	color: #1F1F20;
}

.dark-bg {
	background-color: #1F1F20;
	color: #DCE0E6;
}

.dark-dash {
	border-bottom: solid 2px #1F1F20;
}

.dark-blue-font {
	color: #2B4C7E;
}

.dark-blue-bg {
	background-color: #2B4C7E;
	color: #DCE0E6;
}

.dark-blue-bg a {
	color: #96BEFB;
}

.dark-blue-dash {
	border-bottom: solid 2px #2B4C7E;
}

.blue-font {
	color: #567EBB;
}

.blue-bg {
	background-color: #567EBB;
	color: #DCE0E6;
}

.gray-font {
	color: #606D80;
}

.gray-bg {
	background-color: #606D80;
	color: #DCE0E6;
}

.light-font {
	color: #DCE0E6;
}

.light-bg {
	background-color: #DCE0E6;
	color: #2B4C7E;
}

.light-dash {
	border-bottom: solid 2px #DCE0E6;
}

.padding {
	padding: 16px;
}

.margin {
	margin: 16px;
}

.profile-cover {

}

.profile-cover img {
	max-width: 80%;
}

.shadow-1 {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
}

.shadow-2 {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)
}

.shadow-3 {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3)
}

.shadow-4 {
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3)
}

.shadow-5 {
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3)
}

.vertical-center {
	position: relative;
	transform:translateY(50%);
	top: -50%;
}

.full-width {
	max-width: 100%;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.progress-bar {
	background-color: #2B4C7E;
}

.is-table {
	display: block;
}

.is-table-col {
	display:block;
	vertical-align: top;
	float: none;
}

.width-100px {
	width: 100px;
}



@media(min-width: 768px) {

	.is-table {
		display:table;		
	}

	.is-table-col {
		display:table-cell;
	}

}